// color pelet
$pColor: #edb24e;

*,
*::after,
*::before {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  width: 100%;
  font-size: 16px;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1200px;
  margin: auto;
  padding: 10px;
}

#dm_search_form {
  width: 100%;
  input {
    width: 100% !important;
    padding: 15px;
    border: none;
    display: block;
    outline: none;
  }
  .input_box {
    display: flex;
    width: 100%;
    border: 1px solid #ddd;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding: 0px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
}
.dm_submit_box {
  button {
    background-color: $pColor;
    padding: 15px 25px;
    border-radius: 4px;
    border: 1px solid $pColor;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    display: block;
    margin: 20px auto;
    cursor: pointer;
  }
}
#bookNowButton {
  background-color: $pColor;
  padding: 15px 25px;
  border-radius: 4px;
  border: 1px solid $pColor;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  display: block;
  margin: 20px auto;
  cursor: pointer;
}
/*map*/
#googleMap {
  width: 100%;
  height: 400px;
  margin: 10px auto;
  border-radius: 12px;
}

/*output box*/
#output {
  text-align: center;
  margin: 20px auto;
  font-size: 18px;
}

#mode {
  color: black;
}
.result_table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

.result_table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  width: 50%;
}
